* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#btn-caja {
  padding: 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #9cd564;
}
#btn-caja:hover {
  background-color: #80ff00;
  color: #e47474;
}
#contenedor {
  width: 100%;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  gap: 5px;
}
.caja {
  width: 100px;
  height: 100px;
  background-color: #9cd564;
  cursor: pointer;
}
